<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Web Challenge on pcfactory.cl"  >
    <test name="Main Test">
        <classes>
            <class name="com.destacame.RunCucumberTest"/>
        </classes>
    </test>
    <suite-files>
        <suite-file path="./testng-suites/TotalPurchaseOverTheLimit.xml"/>
        <suite-file path="./testng-suites/TotalPurchaseBelowTheLimit.xml"/>
    </suite-files>
</suite>